@font-face {
    font-family: 'Rows';
    src: url(font/Rows\ of\ Sunflowers.ttf);
}
@font-face {
    font-family: 'Caviar';
    src: url(font/CaviarDreams.ttf);
}

body{

    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        45deg,rgb(197, 197, 197) , black
    );
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-items: center;
    text-align: center;
}
h1{
    font-family: 'Caviar', sans-serif;
    color: rgb(255, 255, 255);
}

span{
    color: rgb(132, 66, 255);
}

#container{ 
    border-radius: 60px;
    width: 70%;
    height: 90%;
    background-color: black;
    display: flex;
    
}
.nome{
    padding: 60px;
    color: rgb(255, 255, 255);
}
h3{
    margin: 0%;
    font-size: 25px;
    padding-left: 20px;

}
.descricao{
    padding: 20px;
    border-radius: 20px ;
    font-size: 18px;
    font-family: 'Caviar', sans-serif;
}
a{  
    justify-content: flex-end;
    display: flex;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-items: center;
    
    border: solid 1px rgb(162, 0, 255);
    
    
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
#link{
    font-family: 'Caviar', sans-serif;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
a:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 10px rgb(132, 0, 255);
}

@media screen and (max-width: 850px){
    body{
        width: 100%;
        height: 110vh;
    }
    #container{
        width: 100vw;
        align-items: center;
        text-align: center;
        border-radius: 0px;
    }
    .nome{
        padding: 0px;
    }
    .descricao{
        width: 100vw;
        padding: 0;
        font-size: 22px;
    }
    #link{
        justify-content: space-around;
        margin-bottom: 30px;
    }
}